<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsuariosSoap" />
                <binding name="VentasSoap" />
                <binding name="HistoricoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56660/Usuarios.asmx" binding="basicHttpBinding"
                bindingConfiguration="UsuariosSoap" contract="Usuarios.UsuariosSoap"
                name="UsuariosSoap" />
            <endpoint address="http://localhost:56660/Ventas.asmx" binding="basicHttpBinding"
                bindingConfiguration="VentasSoap" contract="Ventas.VentasSoap"
                name="VentasSoap" />
            <endpoint address="http://localhost:56660/Historico.asmx" binding="basicHttpBinding"
                bindingConfiguration="HistoricoSoap" contract="Historico.HistoricoSoap"
                name="HistoricoSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
